{% extends 'master.html' %}
{% block content %}
 <!-- line of color -->
 <div class="index-info-container row col-md-12 m-0 p-0 position-relative h-4" >
    <div  class="col-md-4 p-3 bg-weston text-light text-left h-100pct">
        
    </div>
    <div class="col-md-4 p-3 bg-upmaroon text-center h-100pct">
        <div class="font-2"><a class="columnhead steelfish-extra-bold color-black" href="/schedule_lesson/">Schedule a Lesson</a></div>
    </div>
    <div class="col-md-4 text-center bg-brownorange p-3 h-100pct">
        <div class="font-2"><a class="columnhead steelfish-extra-bold color-black" href="/hire_me/">Hire Me as a Musician</a></div>
    </div>
</div>
{% endblock %}